.resistanceContainer
{
    position: relative; 
    left: 50%; 
    transform: translate(-50%); 
    width: 80%; 
    margin-bottom: 3%;
}

.resistanceLabel
{
    width: 100%;
    position: relative; 
    text-align: center;
    display: block; 
    font-size: 150%;
    left: 10%;
}

.resistanceInput
{
    input[type='number']::-webkit-inner-spin-button, 
    input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
    }
    position: relative;
    text-align: center;
    font-size: 150%;
}

.resistanceValue .text-input
{
    text-align: center;
}