.resistorContainer
{
    left: 50%; 
    transform: translate(-50%); 
    position: relative; 
    display: inline-block; 
    margin-top: 10px;
}

.resistorImage
{
    z-index: 1;
}

.resistorContainer .resistorColorBand
{
    width: 6%; 
    top: 11.5%; 
    height: 73.5%; 
    border-style: solid; 
    border-color: black; 
    position: absolute;
}

.resistorContainer .leftColorBand
{
    z-index: 2; 
    left: 35%;
}

.resistorContainer .midColorBand
{
    z-index: 3; 
    left: 47%;
}

.resistorContainer .rightColorBand
{
    z-index: 4; 
    left: 59%;
}
